html {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans';
  }
  #titlerow{
    font-style: 'bold';
    font-weight: 700;
    /* display: flex;
    justify-content: space-between;
    */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .row{
    font-weight: 500;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }